body{
    background-color: rgb(28, 200, 243);
}
.mainheader,.h3{
    color: rgb(0, 0, 0);
    text-align: center;
}
form{
    width:100%;
    text-align:center;
}
Input{
    height: 150px;
    width:150px;
    border-radius: 100%;
    background-color: rgb(12, 25, 212);
    display: inline-block;
    margin: 50px;
    padding:10px;
    font-family: Helvetica;
    font-size: 20px;
    color: rgb(0, 255, 255);
}
input:hover{
    transform: scale(1.2);
    Background-color: rgb(76, 0, 255);
    transition: 0.09s;
}
input:active{
    transform: scale(1);
    background-color: rgb(12,25,212);
    transition:0.09;
}
.label1{
    margin:72px;
}
.label2{
    margin: 125px;
}
.label3{
    margin:50px;
}
#playagain{
    height: 150px;
    width:150px;
    border-radius: 100%;
    background-color: rgb(12, 25, 212);
    display: inline-block;
    margin: 50px;
    padding:10px;
}